@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
@import url("https://fonts.googleapis.com/css?family=Roboto:300i,400");
* {
  box-sizing: border-box;
}

.retangle, .about-us-retangle, .services-header .services-retangle, .unique-design .unique-design-header .unique-retangle, .what-we-do-header .what-we-do-retangle, .carousel-inner .carousel-inner-retangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.retangle:after, .about-us-retangle:after, .services-header .services-retangle:after, .unique-design .unique-design-header .unique-retangle:after, .what-we-do-header .what-we-do-retangle:after, .carousel-inner .carousel-inner-retangle:after {
  content: "";
  display: block;
  height: 3px;
  width: 70px;
  vertical-align: bottom;
  border-top: 4px solid #f38181;
}

.section-header p, .story-about-us-header p, .services-header p, .unique-design .unique-design-header p, .what-we-do-header p {
  font-family: "Kaushan Script";
  font-size: 24px;
  padding-top: 70px;
}

.section-header h2, .story-about-us-header h2, .services-header h2, .unique-design .unique-design-header h2, .what-we-do-header h2 {
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.jumbotron .container-fluid {
  position: relative;
  z-index: 999;
}

.jumbotron {
  height: 100vh;
  background-color: #fce38a;
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
  margin: 0;
  padding-top: 30px;
}

.jumbotron .jumbo-layer {
  background: url(https://preview.ibb.co/d9bt46/layer_15.jpg) center/cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.1;
}

.jumbotron .nav {
  padding: 0;
}

.jumbotron .navbar-brand {
  color: #fff;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 700;
}

.jumbotron .navbar-brand:first-letter {
  text-transform: uppercase;
}

.jumbotron .navbar-custom {
  padding-top: 25px;
}

.jumbotron .navbar-custom li {
  margin: 0 20px;
}

.jumbotron .navbar-custom a {
  padding: 0;
  color: #fff;
  font-family: "Montserrat";
  font-size: 14px;
  text-transform: uppercase;
}

.jumbotron .navbar-custom a:hover {
  color: #fce38a;
  background: none;
}

.jumbotron .navbar-custom a:hover:after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  vertical-align: bottom;
  border-top: 2px solid #fce38a;
}

.jumbotron .text-header {
  padding-top: 100px;
}

.jumbotron .text-header p {
  font-family: "Kaushan Script";
  color: #fff;
  font-size: 72px;
}

.jumbotron h1 {
  color: #fff;
  font-family: "Montserrat";
  font-size: 150px;
  font-weight: 700;
  line-height: 140px;
  text-transform: uppercase;
}

.jumbotron .jumbo-retangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jumbotron .jumbo-retangle:after {
  content: "";
  display: block;
  height: 3px;
  width: 100px;
  vertical-align: bottom;
  border-top: 2px solid #fff;
}

.jumbotron .learn-more {
  background: transparent;
  border: 3px solid #fff;
  color: #fff;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 25px;
  margin-top: 50px;
}

.jumbotron .learn-more:active {
  background-color: #fce38a;
}

@media (max-width: 768px) {
  .text-header h1 {
    font-size: 50px;
    line-height: 80px;
  }
}

.slider {
  margin: 250px 50px 40px;
  color: #fff;
  font-family: "Montserrat";
  font-size: 18px;
  text-transform: uppercase;
  text-align: left;
}

.slider .slider-parts:before {
  content: "";
  display: block;
  height: 20px;
  width: 100%;
  border-top: 3px solid #fff;
}

.slider p {
  padding: 0 5px;
  margin: 0;
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

.about-us-retangle {
  padding: 30px 0;
}

.story-about-us-content, .what-we-do-content {
  font-family: "Roboto";
  color: #999999;
  text-align: center;
  font-size: 15px;
  line-height: 24px;
}

.story-about-us-gallery {
  padding: 80px 0;
}

.story-about-us-gallery .about-us-photos {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.story-about-us-gallery .photo {
  position: relative;
  box-shadow: 10px 10px #95e1d3;
  margin: 0 15px;
}

.story-about-us-gallery .photo:hover .about-us-layer {
  opacity: 1;
}

.story-about-us-gallery .about-us-layer {
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s;
  cursor: pointer;
  position: absolute;
  opacity: 0;
}

.story-about-us-gallery .about-us-layer .glyphicon {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 30px;
}

.story-about-us-gallery .about-us-layer .glyphicon p {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
}

.numbers {
  background-color: #95e1d3;
  height: 270px;
}

.numbers .numbers-parts {
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 270px;
  padding: 0;
}

.numbers .numbers-parts .digits {
  color: #fff;
  font-family: "Montserrat";
  font-size: 72px;
  font-weight: 700;
}

.numbers .numbers-parts p {
  color: #fff;
  font-family: "Montserrat";
  font-size: 14px;
  text-transform: uppercase;
}

/*@media (max-width: 768px) {
    .numbers {
        height: auto;
		width: auto;
    }
}*/
.services-header .services-retangle {
  padding: 30px 0;
}

.services {
  padding-bottom: 100px;
}

.services i {
  color: #95e1d3;
  font-size: 35px;
}

.services h4 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  font-family: "Montserrat";
}

.services p {
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-family: "Roboto";
}

.services .services-border {
  margin: 30px 0;
  height: 1px;
  background-color: #e5e5e5;
}

.unique-design {
  position: relative;
  z-index: 999;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.85);
  margin-bottom: 50px;
}

.unique-design .unique-layer {
  background: url(https://preview.ibb.co/mVeQRS/unique_design_layer.png) center/cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.2;
}

.unique-design .unique-design-header {
  position: relative;
  padding-top: 30px;
}

.unique-design .unique-design-header .unique-retangle {
  padding: 30px 0;
}

.unique-design .unique-tablet {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.unique-design .unique-phone {
  position: absolute;
  -webkit-transform: translate(26rem, 20rem);
          transform: translate(26rem, 20rem);
}

.what-we-do {
  padding-bottom: 10rem;
}

.what-we-do-header .what-we-do-retangle {
  padding: 30px 0;
}

.what-we-do-content {
  padding-bottom: 7rem;
}

.comment-carousel {
  background-color: #f8f8f8;
  margin-bottom: 150px;
}

.carousel-inner {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-inner i {
  color: #95e1d3;
  font-size: 120px;
  background-color: #f8f8f8;
}

.carousel-inner p {
  color: #999999;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  line-height: 36px;
}

.carousel-inner .carousel-inner-retangle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 30px 0;
}

.carousel-inner .carousel-inner-name {
  font-size: 24px;
  font-family: "Kaushan Script";
  color: #333333;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  padding: 0 20px;
}

.carousel-inner [class*="col-"] {
  padding: 0;
}

.carousel-control.left, .carousel-control.right {
  background: none;
}

.carousel-control .glyphicon-chevron-left {
  left: 0;
}

.carousel-control .glyphicon-chevron-right {
  right: 0;
}
/*# sourceMappingURL=style.prefixed.css.map */